<p-panel header="Choix">
  <div class="grid">
    <div class="col">
      <p-dropdown placeholder="Choix region"
                  [options]="regionList$ | async"
                  (onChange)="changeDeptList($event)"
                  optionLabel="nom"
      >

      </p-dropdown>
    </div>
    <div class="col">
      <p-dropdown placeholder="Choix departement"
                  [options]="departmentList$ | async"
                  (onChange)="changeCommList($event)"
                  optionLabel="nom"
      >

      </p-dropdown>
    </div>
    <div class="col">
      <p-dropdown placeholder="Choix commune"
                  [options]="communeList$ | async"

                  optionLabel="nom"
      >

      </p-dropdown>
    </div>
  </div>
</p-panel>
<br>

<br>

<br>


<p-panel header="tableau communes">
  <p-table [value]="communeList$ | async"
           [columns]="cols"
  >
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of cols">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-comm>
      <tr>
        <td *ngFor="let col of cols">
          <span *ngIf="col.field == 'code'">
           <!-- <a [routerLink]="['/rxjs/' + comm[col.field]]">{{comm[col.field]}}</a> -->
          <a (click)="goToDetail(comm[col.field])">{{comm[col.field]}}</a>
          </span>
          <span *ngIf="col.field != 'code'">{{comm[col.field]}}</span>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td [colSpan]="cols.length">
          Aucune commune
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>

