 .sous_titre {
     color: rgb(255, 127, 127);
     font-size: large;
 }
 .carreRose{
    width: 20px;
    height: 20px;
    background-color: pink;
  }
  .carreBleu{
    width: 20px;
    height: 20px;
    background-color: blueviolet;
  }