<h1>Mon second composant</h1>
<p class="sous_titre">Bienvenu
    {{nom}}</p>

<p-panel header="Interpolation" [toggleable]="true">
    <p>Nous sommes le
        {{afficheMomentActuel()}}
    </p>
</p-panel>
<br>
    <p-panel header="Liaison de propriétés" [toggleable]="true">
        <input [type]="inputType"></p-panel>
 <br>
<p-panel header="Liaison d'évènements">
    <p>Compteur:
        {{compteur}}</p>
    <button class="btn btn-primary" (click)="incrementeCompteur()">Clique ici</button>
</p-panel>    
<br>

<p-panel header="Double data binding" [toggleable]="true">
  <input type="text" [(ngModel)]="content">
  <p>{{content}}</p>
</p-panel>

<br>

<p-panel header="Directive d'attribut : ngClass" [toggleable]="true">
    Sexe:
    <span>
        <input type="radio" [(ngModel)]="sexe" value="F"/>
        F
        <input type="radio" [(ngModel)]="sexe" value="M"/>
        M
    </span>
    <div [ngClass]="{'carreRose': sexe === 'F', 'carreBleu': sexe === 'M' }"></div>
</p-panel>

<p-panel header="Créer une directive d'attribut">
  <h6 appHighlight> Je teste la directive d'attribut que j'ai créé</h6>
</p-panel>

<p-panel header="Créer une directive d'attribut">
  <h6 appHighlight [highlightColor]="color"> Je teste la directive d'attribut que j'ai créé</h6>
</p-panel>

<p-panel header="Directive structurelle : *ngIf">
    Nom:
    <input type="text" [(ngModel)]="monNom">
        <p *ngIf='!monNom' style="color:red">Le nom doit obligatoirement être renseigné</p>
</p-panel>


<p-panel header="Directive structurelle : *ngFor">
  <ul>
      <li *ngFor="let article of articles">{{article.reference}} : {{article.prix}}  </li>
  </ul>
</p-panel>

<p-panel header="Directive structurelle : *ngSwitch">
  <ul>
      <li *ngFor="let article of articles">
          <div [ngSwitch]="article.reference">
              {{article.reference}} : {{article.prix}}
              <b *ngSwitchCase="'pomme'">Fruit</b>
              <b *ngSwitchCase="'bannanas'">Bananable</b>
              <b *ngSwitchDefault>Consommable</b>
          </div>
      </li>
  </ul>
</p-panel>



<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>