<ul class="list-group">
  <li class="list-group-item" *ngFor="let user of users">
    <h3>{{ (user.firstName + " " + user.lastName ) | uppercase}}</h3>
    <p>{{ user.email }}</p>
    <p> Cette personne préfère le {{ user.drinkPreference }}</p>
    <p *ngIf="user.hobbies.length > 0">
        cette personne a de hobies: <br>
      <b *ngFor="let hobbies of user.hobbies; let i = index" >{{i+1}}. {{hobbies }}<br></b>
    </p>
  </li>
</ul>

<h3 class="first">Tableau utilisateurs</h3>
<p-table [columns]="cols" [value]="users">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate in DESC" ariaLabelAsc="Activate in ASC"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        <p>{{rowData[col.field]}}</p>
       
      </td>
    </tr>
  </ng-template>
</p-table>

<br><br><br><br><br><br><br><br><br><br>
